<template>
  <el-scrollbar wrap-class="scrollbar-wrapper">
    <el-menu
      :default-active="onRoutes"
      :collapse="collapse"
      background-color="#545c64"
      text-color="#bfcbd9"
      active-text-color="#ffd04b"
      unique-opened
      router
      class="el-menu-vertical"
    >
#if($data.dynamicRouter)
      <!-- 首页菜单 -->
      <el-menu-item :index="indexRoute.name">
        <el-icon>
          <component :is="indexRoute.meta.icon"></component>
        </el-icon>
        <template #title>{{ indexRoute.meta.title }}</template>
      </el-menu-item>

#end
      <SubMenuVue v-for="item in sideRoutes" :item="item" :key="item.name" />
    </el-menu>
  </el-scrollbar>
</template>

<script setup>
import SubMenuVue from './SubMenu.vue'
const route = useRoute()
const router = useRouter()
const store = useStore()

#if($data.dynamicRouter)
const indexRoute = router.options.routes.filter(item => item.name == 'Layout')[0].children.filter(item => item.name == 'index')[0]
#end
const onRoutes = computed(() => route.name)
const collapse = computed(() => store.state.isCollapse)
//用户路由
#if($data.dynamicRouter)
const sideRoutes = computed(() => store.state.userRoutes)
#else
const sideRoutes = router.options.routes.filter(item => item.name == 'Layout')[0].children
#end
</script>

<style>
  .el-menu-vertical{
    height: 100vh;
  }
  .el-menu-vertical:not(.el-menu--collapse) {
    width: 200px;
  }
</style>
