<template>
    <SearchTemp 
        v-model="data.searchData"
        @change="search"
    />

    <TableTemp 
        :dataList="data.dataList"
        :loading="data.loading" 
        :limit="data.limit" 
        :total="data.total" 
        :page="data.page" 
        @page-change="setPage"
        @edit="showEditDialog"
        @add="showAddDialog"
    />

    <AddDialog 
        v-if="data.isAddDialog"
        @closeChange="closeAddDialog"
    />

    <EditDialog 
        v-if="data.isEditDialog"
        :editData="data.editData"
        @closeChange="closeEditDialog"
    />
</template>

<script setup name="${entityName}">
import SearchTemp from './components/SearchTemp.vue';
import TableTemp from './components/TableTemp.vue';
import AddDialog from './components/AddDialog.vue';
import EditDialog from './components/EditDialog.vue';
import ${entityName}Api from '@/utils/api/${entityName}Api.js'

const data = reactive({
    searchData: {},             //查询数据
    dataList: [],               //表格数据
    limit: 10,                  //每页条数
    page: 1,                    //当前页码
    total: 0,                   //总条数
    loading: false,             //表格加载状态
    isAddDialog: false,         //添加弹窗状态
    isEditDialog: false,        //编辑弹窗状态
    editData: {},               //编辑数据
});

onMounted(() => {
    getDataList();
});

// 获取列表
const getDataList = () => {
    data.loading = true;
    ${entityName}Api.item({page: data.page, limit: data.limit, query: data.searchData}).then(res => {
        if(res.errno === 0){
            data.dataList = res.data.list
            data.total = res.data.total
            data.loading = false;
        }
    })
}

// 查询
const search = () => {
    data.page = 1
    getDataList();
};

//设置页码并获取数据
const setPage = (page) => {
    data.page = page
    getDataList();
};

//显示添加弹窗
const showAddDialog = () => {
    data.isAddDialog = true;
};

//显示编辑弹窗
const showEditDialog = (row) => {
    data.isEditDialog = true;
    data.editData = row;
};

//关闭添加弹窗
const closeAddDialog = (val) => {
    data.isAddDialog = false
    if(val === 'close') return;
    data.page = 1
    data.searchData = {}
    getDataList();
}

//关闭编辑弹窗
const closeEditDialog = (val) => {
    data.isEditDialog = false
    if(val === 'close') return;
    getDataList();
}
</script>