<template>
    <div class="add-dialog">
        <el-dialog
            title="新增"
            v-model="data.isAddDialog"
            width="30%"
            @close="closeAddDialog"
        >
            <el-form :model="data.addData" :rules="data.rules" ref="addForm" label-width="100px">
                <el-row :gutter="10">
#foreach($item in $columns)
#if($item.javaName != "id")
                    <el-col :span="20">
                        <el-form-item label="${item.comment}" prop="${item.javaName}">
                            <el-input v-model="data.addData.${item.javaName}" />
                        </el-form-item>
                    </el-col>
#end
#end
                </el-row>
                <el-form-item>
                    <el-row justify="end" style="margin-top: 20px; width: 100%;">
                        <el-button type="info" @click="closeAddDialog">取消</el-button>
                        <el-button type="primary" @click="add(addForm)">提交</el-button>
                    </el-row>
                </el-form-item>
            </el-form>
        </el-dialog>
    </div>
</template>

<script setup>
import ${entityName}Api from '@/utils/api/${entityName}Api.js'
import { ElMessage } from 'element-plus'

const props = defineProps({
    modelValue: {
        type: String,
        default: '',
        required: false
    },
})

const emit = defineEmits(['update:modelValue', 'addChange', 'closeChange'])

const data = reactive({
    isAddDialog: true,
    addData: {
    },
    rules: {
#foreach($item in $columns)
#if($item.javaName != "id")
        ${item.javaName}: [
            { required: true, message: '${item.comment}不能为空', trigger: 'blur' },
        ],
#end
#end
    },
})

onMounted(() => {
})

//表单校验状态
const addForm = ref()

const closeAddDialog = () => {
    data.isAddDialog = false
    emit('closeChange', 'close')
}

const add = async (formEl) => {
    if (!formEl) return
    await formEl.validate((valid, fields) => {
        if (valid) {
            //校验通过
            let addData = JSON.parse(JSON.stringify(data.addData))

            ${entityName}Api.add(addData).then((res) => {
                if (res.errno === 0) {
                    ElMessage.success('添加成功')
                    data.isAddDialog = false
                    emit('closeChange', 'add')
                }
            })
        } else {
            //校验不通过
            console.log('error submit!', fields)
        }
    })
}
</script>

<style scoped lang="scss">
</style>